@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Manrope:wght@400;500;600;700&family=Playpen+Sans:wght@300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* .progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: var(--red);
    transform-origin: 0%;
    z-index: 70;
} */

